body {
  color: #a7d1ef;
  line-height: 1.5;
  margin: 0;
  background: #ebeff3;
}
.page-content {
  width: 100%;
  margin: 0 auto;
  background: #ebeff3;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
}
.form-v4-content {
  background: #fff;
  width: 80%;
  border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  margin: 100px 0;
  position: relative;
  display: flex;
  display: -webkit-flex;
  font-family: sans-serif;
}
.form-v4-content h2 {
  font-weight: 700;
  font-size: 25px;
  padding: 6px 0 0;
  margin-bottom: 40px;
}
.form-v4-content .form-left {
  background: #3786bd;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px 40px;
  position: relative;
  width: 100%;
  color: #fff;
}
.form-v4-content .form-left p {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5;
}
.form-v4-content .form-left span {
  font-weight: 700;
}
.form-v4-content .form-left .text-2 {
  margin: 20px 0 25px;
}

.form-v4-content .form-left .form-left-last input {
  padding: 15px;
}
.form-v4-content .form-detail {
  padding: 20px 40px;
  position: relative;
  width: 100%;
}
.form-v4-content .form-detail h2 {
  color: #3786bd;
}
.form-v4-content .form-detail .form-group {
  display: flex;
  display: -webkit-flex;
  margin: 0 -8px;
}
.form-v4-content .form-detail .form-row {
  width: 100%;
  position: relative;
}
.form-v4-content .form-detail .form-group .form-row.form-row-1 {
  width: 50%;
  padding: 0 8px;
}
.form-v4-content .form-detail label {
  font-weight: 600;
  font-size: 15px;
  color: #666;
  display: block;
  margin-bottom: 8px;
}

.form-v4-content .form-detail label.error {
  padding-left: 0;
  margin-left: 0;
  display: block;
  position: relative;
  bottom: 10px;
  width: 100%;
  background: none;
  color: rgb(241, 116, 116);
}

.form-v4-content .form-detail .input-text {
  margin-bottom: 27px;
}

.form-v4-content .form-detail input {
  width: 100%;
  padding: 11.5px 15px;
  border: 1px solid #9e9c9c;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  appearance: unset;
  -moz-appearance: unset;
  -webkit-appearance: unset;
  -o-appearance: unset;
  -ms-appearance: unset;
  outline: none;
  -moz-outline: none;
  -webkit-outline: none;
  -o-outline: none;
  -ms-outline: none;
  font-family: sans-serif;
  font-size: 15px;
  color: #333;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.form-v4-content .form-detail input::placeholder {
  color: rgb(180, 178, 178);
}

.form-v4-content .form-detail input:focus {
  border: 2px solid #2c5cc5;
}

.form-v4-content .form-detail .register {
  background: #3786bd;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 130px;
  border: none;
  margin: 6px 0 25px 0px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
}

.form-v4-content .form-detail .register:disabled {
  color: #666666;
  background-color: #cccccc;
}

.form-v4-content .form-detail .register:hover {
  background: #2f73a3;
}

.form-v4-content .form-detail .register:disabled:hover {
  color: #666666;
  background-color: #cccccc;
}

.form-v4-content .form-detail input {
  padding: 12.5px;
}

.sol-article {
  text-decoration: none;
  color: greenyellow;
}

.fs-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.regular {
  color: black;
  font-family: sans-serif;
  font-size: 15px;
}

.status-error {
  font-size: 17px;
  font-family: sans-serif;
  color: rgb(241, 116, 116);
}

.status-wait {
  font-size: 17px;
  font-family: sans-serif;
  color: #3786bd;
}

.status-complete {
  font-size: 17px;
  font-family: sans-serif;
  color: rgb(241, 116, 116);
}

/* Responsive */
@media screen and (max-width: 991px) {
  .form-v4-content {
    margin: 180px 20px;
    flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
  }
  .form-v4-content .form-left {
    width: auto;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
  .form-v4-content .form-detail {
    padding: 30px 20px 30px 20px;
    width: auto;
  }
}
@media screen and (max-width: 575px) {
  .form-v4-content .form-detail .form-group {
    flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    margin: 0;
  }
  .form-v4-content .form-detail .form-group .form-row.form-row-1 {
    width: 100%;
    padding: 0;
  }
}
